.lateral-icons {
	font-size: 3em !important;
	padding: 5px 5px 5px 30px;
}

.swicth-btn {
	margin-top: 10px;
}

.title {
	margin-left: auto;
	margin-right: auto;
	text-align: center !important;
	border-bottom: 1px solid #ccc;
	width: 60% !important;
}

.text_search {
	width: 80% !important;
	margin-left: 15px !important;
}

.btn-center {
	margin-left: 50px !important;
	margin-top: 15px !important;
}
